<div id="about-page">
<div id="gutter">
	<div class="landing">
		<div class="header2">
			<div class="overlay"></div> 
			<h3 class="text-center">ABOUT US</h3>
			<p>We bring barbers and customers together.
				Finding a good barber is tough and being the new barber on the block can make it hard to gain new clients.</p>
			<p>LineUp allows you to find local barbers and check out their work before you end up in the hot seat.</p>
			<p>Help us grow by telling your local barber to sign up!</p>
		</div>
	</div> 
</div>
</div> <!-- end of gutter -->