<div class="header2">
<div id="about">

		<h3>About Us</h3>

		<p>LineUp is a site that brings barbers and potential customers together.
		We understand that getting a haircut from an unfamiliar barber can make people weary.
		It can also be tough for new barbers with minimal experience to gain new clients.</P>
		<p>Our site allows you to find barbers in local neighborhoods by zipcode
		 so you can check out their work before you end up in the hot seat.</P>
		<p>Help us grow by telling your local barber to sign up today!</P>

</div>
</div>