<div class="header2">
<div id="about">

		<h3>ABOUT US</h3>

		<p>LineUp brings barbers and potential customers together.
		We understand that getting a haircut from a barber you're not familiar with can be weary.
		It can also be tough for new barbers with minimal experience to gain new clients.</p>
		<p>Our site allows you to find barbers in local neighborhoods by zipcode
		 so you can check out their work before you end up in the hot seat.</p>
		<p>Help us grow by telling your local barber to sign up today!</p>

</div>
</div>