<div class="header"> 

	<!-- <p><a href="barbers#new"> -->
	
  <div class="container" style="padding-top:40px;">
  <%= link_to "Sign up as a Barber", new_barber_path, class: 'btn btn-primary btn-lg' %></a></p>

  <%= link_to "Sign up as a Customer?", new_customer_path, class: 'btn btn-primary btn-lg' %></a></p>

  <%= link_to "Log In", new_session_path, class: 'btn btn-primary btn-lg' %></a></p>
</div>

</div> 