
<div class="header"> 

	<div class="text-center">
    <br /> <br /> <br /> <br /> <br />
	<%= image_tag "logo-center.png", size: "200x200", class: "mylogo" %>
	</div>
<br />
	<div class="sign-up">
		<%= link_to "Register as a Barber", new_barber_path, class: 'btn btn-primary btn-lg btn-info' %></a>
    &nbsp; &nbsp; 
		<%= link_to "Register as a Customer", new_customer_path, class: 'btn btn-primary btn-lg btn-info' %></a>

		<!-- link_to "Log In", new_session_path, class: 'btn btn-primary btn-lg'  -->
	</div>

</div> 
