<div class="header"> 
  
  <div class="logo"></div> 


  <div id="hook">
  	<h1>WE CONNECT TALENTED BARBERS</h1> 
  	<h3>to stylish customers</h3>
  </div>


  <div class="text-center">
  		<div class="buttons">
   		<%= button_to "SIGN UP AS A CUSTOMER", new_customer_path, :id => "button1", :method => :get %>
   		
   		<%= button_to "SIGN UP AS A BARBER", new_barber_path, :id => "button1", :method => :get %>
  		</div> 

  </div>


      <!--  <%= link_to "Register as a Customer", new_customer_path, class: 'btn btn-primary btn-lg btn-info btn-wider' %></a> -->

</div> 


