/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import 'bootstrap';
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);
@import url(https://fonts.googleapis.com/css?family=Rokkitt);

/* IN ORDER FOR BOOTSTRAP TO WORK YOU MUST ADD .SCSS AT THE END OF THE FILE NAME.*/


html, body { padding: 0; margin: 0; height: 100%; width: 100%; box-sizing: border-box; }
h1 { font-size: 2.5em}

body { background-color: #081031 }
.white-bg { background: #fff; width: 100%; height: 100% }

input[type="submit"] {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	font-weight: 400;
}

a {color: #FFF700;	text-decoration: none;font-family: 'Lato', sans-serif;letter-spacing: 2px;font-size: 1.3em;}

a:hover {color: #A29D01;text-decoration: none;font-family: 'Lato', sans-serif;letter-spacing: 2px;}

.navbar-nav > li > a {padding-top: 14px;padding-bottom: 8px;}

.userNameHere {padding-top: .3em;}

.btn-primary { background-color: #A82008;font-weight: 100;border: none;}



.inputsmy {
	width: 400px;
	margin: 0 auto;
	margin-top: -2.4em;
}

/*.navbar-default {
	border: none;
}*/

.mynav {
	background-color: transparent;
}

/****************************
Home Page once logged in
****************************/

.btn-info {
	background-color: #A82008;
	border: none;
	font-weight: 100;
	transition: opacity .40s ease-in-out;
    -webkit-transition: opacity .40s ease-in-out;
    -moz-transition: opacity .40s ease-in-out;
    -o-transition: opacity .40s ease-in-out;
}

.btn-primary {
	background-color: red;
	font-weight: 100;
	border: none;
}

.btn-primary:hover {
  background-color: #B51013;
}

.inputsmy {
	width: 400px;
	margin: 0 auto;
	margin-top: -2.4em;
}

.btn-info:hover {
	background-color: #E82C0C;
	border: none;
	font-weight: 100;
	transition: opacity .40s ease-in-out;
    -webkit-transition: opacity .40s ease-in-out;
    -moz-transition: opacity .40s ease-in-out;
    -o-transition: opacity .40s ease-in-out;
}

.glyphicon-lock, .glyphicon-usd, .glyphicon-user {
	font-size: .85em;
}

.fa-user {
	color: black;
	font-size: 2em;
	z-index: 10000000;
}

.logo {
	margin: auto;
	text-align: center;
}

.navbar-right a, .img-profile {
	text-align: center;
}

.navbar-default {
	border: none;
	border: none;
	background-color: white;
	height: 90px;
	z-index: 880;
}

.container-fluid , #bs-example-navbar-collapse-1 {
	max-height: 400px;
}

.img-circle {
	margin-top: -9px;
}

/*This is the search bar on the barbers index page*/
p , #search {
	padding-top: 2%;
	width: 200px;
	margin: 0 auto;
}

/*This is the instruction on barber index*/
.find-barber h1 {
	text-align: center;
	font-weight: bold;
}

.userImage {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 1em;
}

/*This centers the main id that holds 
profile pic, bio, price and gallery*/
#main , .row {
	margin: 0 auto;
}

li > .glyphicon {
	margin: 5%;
}

.img-square {
	width: 300px;
	height: auto;
	margin: 0 auto;
	border: 10px solid white;
	text-align: center;
}


.barberName {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #B2B2B2;
}

.barberLocation {
	padding: 0 1em 0 1em;
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
}

.contactBarberIcon {
	padding: 0 1em 0 1em;
}

.spacer {
	height: 4em;
}

.spacey {
	height: 2em;
}

.input-group {
	padding-bottom: .3em;
}

.edit {
	width: 360px;
	margin: 0 auto;
}

.barberImages {
	overflow: hidden;
	width: 400px;
	margin: 0 auto;
}

.imageport {
	width: 400px;
	margin: 0 auto;
	height: auto;
	min-height: 400px;
}

hr {
	width: 400px;
	margin: .3em auto;
	border-color: #cfcfcf;
}

.comments {
	width: 400px;
	max-width: 400px !important;
	margin: 0 auto;
}


.textOverlay {
	width: auto;
	position: absolute;
	padding-right: 8.5em;
	color: black;
	text-align: center;
	opacity: 0;
}

.textOverlay:hover {
	opacity: 1;
}

.fansPage {
	text-align: center;
}

/****************************
FOR LIKES ON PICTURES
****************************/


body {
	position: relative;

}
ul.delete-this-class {
  width: 300px;
  margin: 10px auto;
}
div.footer.delete-this-class {
	background-color: lightgrey;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 100px;
}


#about h3 {
	text-align: center;
	font-size: 2em;
	font-family: 'Lato', sans-serif;
	color: white;
}

#about p {
	width: 480px !important;
	font-size: 1.3em;
	font-family: 'Lato', sans-serif;
	font-weight: Light 100 !important;
	text-transform: uppercase;
	color: white;
}

.col-lg-4 {
	margin-top: 20px;
}
