// Place all the styles related to the barbers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
	margin-bottom: 7px;
}

#edit_form {
	margin-left: auto;
	margin-right: auto;
}

.img-circle {
    border-radius: 50%;
}

.page-divider {
	border-style: line;
	border-width: 5px;
	color: gray;
	width: 300px;
}

body {
	background-color: #E4E4E0;
}

h1 {
	text-align: center;
	margin: auto;
}

h2 {
	text-align: center;
	margin: auto;
	color: rgba(0,0,0,0.51);
}

/*p {
	font-family: Helvetica;
	font-size: 16px;
	color: white;
	text-align: center;
}*/

.customers {
	margin-bottom: 10px;
	margin-left: 30px;
}



#edit_form {
	position: absolute;
	padding-top: 20%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}



.content {
	max-width: 940px;
	margin: 0 auto;
	height: 958px;
	padding: 0 5%;
	background-color: #E4E4E0;
	padding-right: 30px;
	margin-right: 20px;
	display: block;
	margin: 0 auto;	
	padding-top: 47px;
}


.box {
	width: 100%;
	height: 200px;
	background-color: white;
	padding-left: 1%;
	padding-top: none;
	padding-bottom: 20px;
	margin: 0 auto;
}

.bio {
	background-color: black;
	width: 500px;
	height: 150px;
	margin: 0 auto;
}

.barber_search {
	text-align: center;
}

/**********
CONTACT INFO
***********/

.contact-info {
	list-style: none;
	
	padding: 2% 0 4% 0;
	margin: 0 auto;
	font-size: 0.9em;
	text-align: center;
}

.contact-info li {
	display: inline-block;
	min-height: 20px;
	background-repeat: no-repeat;
	text-align: center;
	padding: 0 0 0 30px;
	margin: 0 10px 10px;
}



.contact-info li a {
	margin: 5%;
	padding: 3%;
	padding-bottom: 2%;

}


/**********
GALLERY
***********/


.barber-pics {
	margin: 0;
	padding: 0;
	/*list style removes the bullet points*/
	list-style: none;
}

.barber-pics li {
	/*Our float removes the images stacked 
	and makes them side by side*/
	float: left;
	/*The images take up 45% of the width no 
	matter the size of the browser window. 
	45 also gives us our two columns with 10% space in 
	between them*/
	width: 58%;
	/*Each image has a margin of 2.5% 
	on the left and right sides. 2.5 x 4 is 10! 
	So we get 100% with the width and margin*/
	margin: 2%;
	background-color: #f5f5f5;
	color: #bdc3c7;
}

.barber-pics li p {
	margin: 0;
	padding: 3%;
	font-size: 0.75em;
	color: #bdc3c7;
}

#b-picture {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	list-style: none;
}

#overlay {
/*	background: rgba(0,0,0,.25);
	text-align: center;
	padding: 0;
	opacity: 0;
	-webkit-transition: opacity .55s ease;*/
}


#b-picture:hover #overlay {
	opacity: 1;
	color: black;
}

#b-picture:hover #overlay li {
	/*background: rgba(1,0,0,.25);*/
	background: rgba(255,255,255,0.96);
	text-align: center;
	padding: 0;
	opacity: 0.5;
	-webkit-transition: opacity .55s ease;
	font-color: black;
	list-style: none;
}

#b-picture:hover #overlay li a {
	text-decoration: none;
	color: black;
}

#b-picture:hover #overlay li a  p {
	color: black;
	padding: 2px 0 1px 0;
	font-family: Helvetica;
	font-weight: 900;
	color: gray;
	font-size: 9;
}

#plus {
	font-family: Helvetica;
	font-weight: 900;
	/*color:rgba(255,255,255,.85);*/
	color: black;
	font-size: 13;
}

.img-responsive {
	padding: 15px;
	margin: 0 auto;
}


/*.row .clearfix ul li {
	float: left;
}*/

.profile-head {
	position: relative;
	max-width: 970px;
	padding: none;
}

ol .dribble-group {
	margin: 0 auto;
}

/*I used this so that the pictures don't have listed numbers*/
#picture-holder ol a li {
	list-style: none;	
}

#wrapper {
	/*We want the width to be no more than 940px across*/
	max-width: 940px;
	/*0 is top and the bottom. Auto is the left and right. 
	Margin is the space outside our div*/
	margin: 0 auto;
	/*0 is top and bottom. 5 is left and right. 
	Padding the space inside our div*/
	padding: 0 5%;
}


.row {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	position: relative;
	border-top: 1px solid rgba(0,0,0,0.07);
}


/*This holds the main content of the page*/
#main {
	max-width: 970px;
	width: auto;
	float: none;
}

.profile-head {

}
