/****************************
Root Page
****************************/


.logo-home-page {
	padding-top: 100px;
}

.sign-up {
	text-align: center;
	padding-top: 10px;
}


.header {
	background-image: url('background2.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 710px;
    margin-top: -23px;
}

.barber_button {
	width: 300px;
	height: 60px;
	background-color: blue;
	border-radius: 40px;
}

.log-in {
	text-align: center;
	padding-top: 2%;
}

.inputF {
  width: 300px;
  margin: 0 auto;
}

